/* your styles go here */
.skills-list {
    position: relative;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    right: 26px;
}

#boom-boom-cats {
    font-size: 23px;
}

.famous-quote {
    font-size: 30px;
    color: #ffffff;
}

.quote-author {
    color: #ffcb8f;
    font-weight: 300;
}

#famous-quote-icon {
    display: inline-block;
    color: #ffcb8f;
}