/* your styles go here */
.skills-list {
    position: relative;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    right: 26px;
}

#boom-boom-cats {
    font-size: 23px;
}